// BOTH panel-side AND panel-top
.atom-info-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  transition: createtransitions((box-shadow, background-color));
}

.atom-info-wrapper:hover {
  transition: createtransitions((box-shadow, background-color));
}

.atom-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.simplebar {
  height: 100%;
  width: 100%;
}

.atom-stat-text {
  font-family: "latoregular", Arial, sans-serif;
}

// panel-side
.panel-side .atom-info-inner {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 0 5px;
  box-sizing: content-box;
}

.panel-side .atom-stat {
  background-color: $oc-gray-2;
  border-radius: $border-radius-small;
  margin: 0 5px 5px 0;
  padding: 3px 0 3px 0;
}

// panel-top
.panel-top .atom-info-inner {
  display: grid;
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  width: 100%;
  height: 100%;
  padding: 5px;
}

.panel-top .atom-stat {
  display: flex;
  background-color: $oc-gray-2;
  border-radius: $border-radius-small;
  margin: 2px;
}

// styling 'not valid' for lanthanides and actinides
.ready-but-invalid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
