.select-menu {
  padding: 3px;
  border-radius: $border-radius-small;
  background-color: $theme-light-background;
  margin-right: 3px;
  padding-top: 4px;
  border: 1px solid $oc-gray-6;
}

.select-menu option {
  font-weight: normal;
  font-family: "latoregular", Arial, sans-serif;
}
