last 2 versions
last 4 iOS versions
last 4 Safari versions
last 4 Chrome versions
last 4 Firefox versions
> 1%
not ie <= 11
not last 2 ie_mob versions
not last 2 op_mob versions
not last 2 op_mini versions
not dead