// Display each option button, menu, etc. with flex
#options {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  list-style-type: none;
}

.option {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  list-style-type: none;
}

.option p {
  font-family: robotolight;
  padding-bottom: 5px;
}