* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  //color: $oc-gray-9;
}

// ONLY FOR USE IN NAVIGATION / TITLE
h1 {
  font-family: robotoregular;
  font-size: 3em;
}

// h2 is the navigation bar
h2 {
  font-family: robotolight;
  font-weight: regular;
  font-size: 1.15em;
}

// GENERAL TEXT FORMAING
p {
  font-family: latolight;
  font-size: 1em;
}

a {
  font-family: latolight;
  font-size: 1em;
  text-decoration-line: underline;
}