// Display each option button, menu, etc. with flex
#options,
.option,
.text {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#options {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  list-style-type: none;
}

.option {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  list-style-type: none;
}

.text {
  font-family: robotolight;
  font-weight: normal;
  font-size: 1em;
  padding-bottom: 5px;
}
