# all
dist/
node_modules/

# root

# frontend

# backend
backend/public/**/*
!backend/public/assets/
!backend/public/assets/*
!backend/public/data/.gitkeep

# wolfram
wolfram/wolfram-data-groups/*/*.json
wolfram/build/atom-layout-data/atomColors*.json
wolfram/build/atom-tab-data/*.json
wolfram/dist/*.json

# log
*.log

# ide
.vscode/
.idea/
