# all
dist/
node_modules/

# root

# frontend

# backend
backend/public/**/*.json

# wolfram
wolfram/wolfram-data-groups/*/*.json
wolfram/build/atom-tab-data/*.json
wolfram/dist/*.json

# log
*.log

# ide
.vscode/
.idea/
