<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./resources/css/main.min.css">
  <title>Periodic Table</title>
</head>
<body>
    <h1 class="formatContent">Succinct Periodic Table of the Elements</h1>
    <nav class="formatContent">
      <div id="nav-left-side">
        <div id="generic"><span class="ti-menu-alt"></span><h2>Generic</h2></div>
        <div id="properties"><span class="ti-eye"></span><h2>Properties</h2></div>
        <div id="orbitals"><span class="ti-link"></span><h2>Orbitals</h2></div>
        <div id="explore"><span class="ti-search"></span><h2>Explore</h2></div>
        <div id="quiz"><span class="ti-check"></span><h2>Quiz</h2></div>
      </div>
      <div id="nav-right-side">
        <div id="info"><span class="ti-info"></span></div>
        <div id="question"><span class="ti-help"></span></div>
      </div>
    </nav>
    <aside id="display-options" class="formatContent">
      <!-- Options for how the main grid container and elemetns are displayed -->
    </aside>
    <div id="grid-container-outer" class="formatContent">
      <main id="grid-container">
        <!-- ELEMENT OVERVIEW PANNEL -->
        <section id="element-overview" v-bind:class="hoverColor" v-cloak>
            <div id="element-overview-inner">
              <h4 id="element-ov-name">{{ hoverAtomicNumber }}</h4>
              <h3 id="element-ov-abbreviation">{{ hoverAbbreviation }}</h3>
              <h4 id="element-ov-name">{{ hoverName }}</h4>
              <h4 id="element-ov-mass">{{ hoverAtomicMass }}</h4>
            </div>
        </section>
        <!-- ELEMENT DESCRIPTIONS -->
        <section id="element-desc" v-bind:class="hoverColor" v-cloak>
          <div id="element-desc-inner">
            <h5 id="element-d-discovery-date">Discovery Date</h5>
            <p>{{ hoverDiscoveryDate }}</p>
            <h5 id="element-d-discoverer">Discovered By </h5>
            <p>{{ hoverDiscoveredBy }}</p>
          </div>
        </section>

        <!-- DUPLICATED ELEMENTS FROM PERIODIC TABLE -->
        <div class="element-outer" v-for="(element, elementIndex) in elements" v-bind:class="[element.column, element.row, elementColors[element.atomicNumber-1], element.period, element.group]" v-bind:id="element.id" v-on:mousemove="updateElementInfoAndDesc(elementIndex)" v-on:mouseover="shadeElementOnHover(elementIndex)" v-on:mouseleave="lightenElementOnHover(elementIndex)">
          <div v-cloak class="element-inner">
            <!--<h6>{{ elementIndex + 1 }}</h6> Turn this element on if not sure if v-for loop "linked" w/ each atomic element (should be the same)-->
            <h6 class="atomicNumber" ref="elementIndexDOM">{{ element.atomicNumber }}</h6>
            <h5 class="abbreviation" ref="elementAbbreviationDOM">{{ element.abbreviation }}</h5>
            <h6 class="name" ref="elementNameDOM">{{ element.name }}</h6>
            <h6 class="atomicMass" ref="elementAtomicMassDOM">{{ element.atomicMass }}</h6>
          </div>
        </div>

        <!-- PERIOD LABELS -->
        <div class="label-period-outer" v-for="(periodLabel, index) in periodLabels" v-bind:class="[periodLabel.row, periodLabel.column]">
          <div v-cloak class="label-period-inner"  v-on:mouseover="darkenGroupOrPeriod(index, 'true', 'darken')" v-on:mouseleave="darkenGroupOrPeriod(index, 'true', 'normal')">
            <p class="label-text">{{ periodLabel.display }}</p>
          </div>
        </div>

        <!-- GROUP LABELS -->
        <div class="label-group-outer" v-for="(groupLabel, index) in groupLabels" v-bind:class="[groupLabel.row, groupLabel.column]">
          <div v-cloak class="label-group-inner" v-on:mouseover="darkenGroupOrPeriod(index, 'false', 'darken')" v-on:mouseleave="darkenGroupOrPeriod(index, 'false', 'normal')">
            <p class="label-text">{{ groupLabel.display }}</p>
          </div>
        </div>
      </main>
  </div>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./resources/js/tests.js"></script>
  <script src="./resources/vue/main.vue"></script>
</body>
</html>
