// BLUR EFFECT
.no-blur {
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
.blur-large {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
}

// NO HIGHLIGHT EFFECT ON SOME VUESAX ELEMENTS, AMONG OTHER ELEMENTS
.vs-noti-contenedor, .con-popup, .con-options, .activeItem {
  user-select: none;
}

// VUESAX
// Notification conts
.con-text-noti h3 {
  font-family: robotoregular;
  font-weight: normal;
}
.con-text-noti p {
  font-family: robotolight;
  font-weight: normal;
}