// BLUR EFFECT
.no-blur {
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
.blur-large {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
}

// For some reason this does not work all the time (or at all, I believe this is for SimpleBar, not sure)
.ps__rail-x,
.ps__rail-y {
  opacity: 0.6 !important;
}
