*,
*::before,
*::after {
  box-sizing: border-box;
}

// variables, mixing, and functions
@import "open-color/open-color.scss";
@import "mixins.scss";
@import "functions.scss";

// common variables
$border-radius: 8px;
$border-radius-small: 4px;
$transition-duration: 0.15s;
$transition-timing-fn: ease-in-out;
// main margins on the left and right side of the page
$body-margin: 8px;
// spacing (there are some local spacing variables for
// each component that may be based from this global component)
$spacing: 8px;

// navigation / layout variables
$small-laptop-width: 1200px;
$tablet-width: 1100px;
$mobile-width: 940px;
$tiny-mobile-width: 350px;

// light theme varaibles
$theme-light-background: $oc-gray-0;
$theme-light-background-accent: $oc-gray-1;
$theme-light-shadow: $oc-gray-2;
$theme-light-shadow-hover: $oc-gray-3;
$theme-light-text: $oc-gray-9;

// dark theme variables
$theme-dark-background: $oc-gray-8;
$theme-dark-background-accent: $oc-gray-9;
$theme-dark-shadow: $oc-gray-7;
$theme-dark-shadow-hover: $oc-gray-6;
$theme-dark-text: $oc-gray-0;
