// Param 1  $background  Define the background color of the textual part of element info panel

// Purpose: To style the textual part of the element info panel, detailing the statistics of a selected element
@mixin panelTextualThemeDefault(
  $background,
  $background-accent,
  $hasShadow,
  $shadow,
  $shadowHover,
  $text
) {
  // Add shadow to textual part of element info panel
  @include shadow('.atom-info-wrapper', $hasShadow, $shadow, $shadowHover);

  .atom-info-wrapper {
    background-color: $background;
  }

  .atom-stat {
    background-color: $background-accent;
    color: $text;
  }
}
