//main: main.scss
#table-container > div {
  // background-color: $oc-gray-4; // Specifics in elements.scss
  border-radius: 5px;
  margin: 2px 2px 2px 2px;
  box-shadow: 3px 3px 3px $oc-gray-3;
  transition: background-color 0.15s ease-in-out;
  overflow: hidden;
}

#table-container > div:hover {
  //background-color: $oc-gray-5;
  box-shadow: 5px 5px 5px $oc-gray-3;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.element-inner {
  justify-self: center; //Center horizontally
  margin: 2px 2px 2px 4px;
}
