//main: main.scss

footer {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

footer > p, footer > a {
  font-family: robotoregular;
}

footer p, footer a {
  padding-left: 10px;
  padding-right: 10px;
}
