//main: main.scss

// The text inside each element
.atomicMass {
  position: relative;
  bottom: -3px;
}

.atomicNumber, .abbreviation, .name, .atomicMass {
  transition: color 0.15s ease-in-out;
}

// REGULAR ELEMENT COLOR
.blue {
  background-color: $oc-blue-2;
}

.red {
  background-color: $oc-red-2;
}

.green {
  background-color: $oc-green-2;
}

.orange {
  background-color: $oc-orange-2;
}

.violet {
  background-color: $oc-violet-2;
}

// DARK ELEMENT COLOR
.dark-blue {
  background-color: $oc-blue-3;
}

.dark-red {
  background-color: $oc-red-3;
}

.dark-green {
  background-color: $oc-green-3;
}

.dark-orange {
  background-color: $oc-orange-3;
}

.dark-violet {
  background-color: $oc-violet-3;
}

// LIGHT ELEMENT COLOR
.light-blue {
  background-color: $oc-blue-1;
}

.light-blue > div > h5 {
  color: $oc-gray-6;
}

.light-blue > div > h6 {
  color: $oc-gray-6;
}

.light-red {
  background-color: $oc-red-1;
}

.light-red > div > h5 {
  color: $oc-gray-6;
}

.light-red > div > h6 {
  color: $oc-gray-6;
}

.light-green {
  background-color: $oc-green-1;
}

.light-green > div > h5 {
  color: $oc-gray-6;
}

.light-green > div > h6 {
  color: $oc-gray-6;
}

.light-orange {
  background-color: $oc-orange-1;
}

.light-orange > div > h5 {
  color: $oc-gray-6;
}

.light-orange > div > h6 {
  color: $oc-gray-6;
}

.light-violet {
  background-color: $oc-violet-1;
}

.light-violet > div > h5 {
  color: $oc-gray-6;
}

.light-violet > div > h6 {
  color: $oc-gray-6;
}
