//main: main.scss

// The text inside each element
.atomicMass {
  position: relative;
  bottom: -3px;
}

// Element no-hover
.s {
  background-color: $oc-blue-2;
}

.p {
  background-color: $oc-red-2;
}

.d {
  background-color: $oc-green-2;
}

.f {
  background-color: $oc-orange-2;
}

.g {
  background-color: $oc-gray-3;
}

// Element hover
.element-outer ~ .s:hover {
  background-color: $oc-blue-3;
}

.element-outer ~ .p:hover {
  background-color: $oc-red-3;
}

.element-outer ~ .d:hover {
  background-color: $oc-green-3;
}

.element-outer ~ .f:hover {
  background-color: $oc-orange-3;
}

// g is not an actual block, but Lanth. and Actin. category
.element-outer ~ .g:hover {
  background-color: $oc-gray-4;
}
