@import "./open-color.scss";
@import "./fonts.scss";

@import "./navigation.scss";
@import "./periodic-table.scss";
@import "./vue.scss";

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: robotoregular;
  font-size: 3em;
}

h2 {
  font-family: robotoregular;
  font-size: 2em;
}

h3 {
  font-family: latolight;
  font-size: 1.4em;
}

h4 {
  font-family: latolight;
  font-size: 0.75em;
}

h5 {
  font-family: latolight;
  font-size: 0.9em;
}

.formatContent {
  width: 97%;
  margin: auto;
}
