//main: ./main.scss

nav {
  display: flex;
  background-color: $oc-gray-1;
  border-radius: $border-radius;
  justify-content: space-between;
}

// Left side
#left-side, #right-side {
  display: flex;
}

// Each div element in nav bar
#left-side > div, #right-side > div {
  padding: 15px 30px 15px 30px;
  align-self: center;

  // No highlighting when trying to select
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

// Left and right inside divs hover
#left-side > div:hover, #right-side > div:hover {
  background-color: $oc-gray-3;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

// Left and right inside divs click
#left-side > div:active, #right-side > div:active {
  background-color: $oc-gray-4;
  transition: background-color 0.15s ease-in-out;
}

// Rounded corners for the navbar on the left-end
#generic:hover {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

// Rounded corners for the navbar on the right-end
#question:hover {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

#question > span, #info > span {
  font-size: 30px;
}
