//main: ./main.scss
#nav-content {
  display: flex;
  justify-content: flex-start;
  background-color: $oc-gray-1;
  overflow-x: scroll;
  //overflow-x: hidden;
  list-style-type: none;
  -webkit-user-select: none;
  user-select: none;  // No highlighting when trying to select
}

// Each list element in nav bar
#nav-content > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

// Each list element in nav bar hover
#nav-content > li:hover {
  background-color: $oc-gray-3;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

// Each list element in nav bar active
#nav-content > li:active {
  background-color: $oc-gray-4;
  transition: background-color 0.15s ease-in-out;
}

#nav-content > li > h2 {
  padding-left: 10px;
}

#nav-content > li > span {
  font-size: 18px;
}
