// Each period.json / group label has v-binds a class which is either .light or .dark
// Note: Label cannot have class of 'light' and 'dark' at the same time

// @param 1  $background  Default background of the label
// @param 2  $backgroundHover  Background when label is hovered, or forced to darken (when changing which periodic table element is being hovered over)
// @param 3  $text  Text inside label, a number that tells which number the label is

// Purpose: For defining the colors of the period or group labels, on default, a user hover
// or when classes are modified to change the color directly
@mixin labelsThemeDefault($background, $backgroundHover, $text) {
  // Label is light by default (independent of theme)
  .light {
    background-color: $background;
  }

  // Label is directly hovered
  .light:hover {
    background-color: $backgroundHover;
  }

  // Label class modified when user hovers over different periodic table element, and the labels update
  .dark {
    background-color: $backgroundHover;
  }

  .label-text {
    color: $text;
  }
}
