// Navbar, including pop-ups
#nav {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  user-select: none;
  transition: createTransitions((box-shadow, background-color));
}

#nav:hover {
  transition: createTransitions((box-shadow, background-color));
}

#nav-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  list-style-type: none;
}

// Logo
#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  padding-left: 10px;
  padding-right: 10px;
}

#info-nav-item {
  margin-left: auto;
}

.nav-item-inner {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: $border-radius-small;
  padding: 10px 15px 10px 15px;
}

.nav-item-inner:hover {
  cursor: pointer;
}

.nav-item-inner:active {
  transition: createTransitions((background-color));
}

#menu-mobile {
  display: none;
}

.heading {
  font-family: robotolight, Arial, 'sans-serif';
  font-size: 1.125em;
  font-weight: normal;
  margin-left: 9px;
}

// Normal icon size
.icon {
  width: 24px;
  height: 24px;
}
