// footerThemeDefault parameters
// @param 1  Text Color
// @param 2  Color of Underline when mouse hovers over link (a tag)
// @param 3  Background color of footer element
@mixin footerThemeDefault($text, $underline, $background) {
  .text,
  .link {
    color: $text;
  }

  .link {
    text-decoration-color: $underline;
  }

  &#footer {
    background-color: $background;
  }
}
