.light-def {
  .footer {
    background-color: white;
  }

  .footer-text {
    color: $oc-gray-9;
  }

  a {
    text-decoration-color: $oc-gray-4;
  }
}

.dark-def {
  .footer {
    background-color: $oc-gray-9;
  }

  .footer-text {
    color: $oc-gray-1;
  }

  a {
    text-decoration-color: $oc-gray-7;
  }
}
