.footer {
  display: flex;
  justify-content: center;
  padding: 2px 0;
}

.footer-text {
  font-family: robotoregular, Arial, sans-serif;
  font-size: 16px;
  margin: 0 9px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
  }
}
