// Main foot (there is only one foot)
#footer {
  display: flex;
  justify-content: center;
  padding: 2px 0;
  user-select: none;
}

// Text in foot
p,
a {
  font-family: robotoregular, Arial, sans-serif;
  font-size: 1rem;
  margin: 0 9px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
