#footer, .text, .link {
  padding: 0px;
  margin: 0px;
  outline: 0px;
  box-sizing: border-box;
}

// Main footer (there is only one footer)
#footer {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  // margin-top: 5px; // A padding bottom is declared under PeriodicTable.vue associated SCSS files
  user-select: none;
}

// Text in footer
.text, .link {
  // Font Family is roboto because it is not exactly content, but a title sort of
  font-family: robotoregular;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

// Show large copyright notice (name1) on regular browser length
p#name2, p#name3 {
  display: none;
}

// Show medium copyright notice (name 2) on browser starting from 410px
@media (max-width: 410px) {
  p#name1, p#name3 {
    display: none;
  }

  p#name2 {
    display: inline;
  }
}

// Show small copyright notice (name 3) on browser starting from 340px
@media (max-width: 340px) {
  p#name1, p#name2 {
    display: none;
  }

  p#name3 {
    display: inline;
  }
}
