// INFO TOP
.info-top #element-info-panel {
  display: grid;
  grid-template-columns: auto 1fr;
  list-style-type: none;
  height: 20vw;
  max-height: 25vh;
  margin: 0px 10px 10px 10px;
}


.info-top {
  #element-symbol {
    width: 20vw;
    max-width: 25vh;
    border-radius: $border-radius;
  }

  #element-symbol-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
  }

  #icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 65%;
    border-radius: $border-radius;
    font-family: robotomedium;
    font-weight: regular;
    font-size: 3.25em;
    transition: all $transition-time ease-in-out;
  }

  #icon:hover {
    border-radius: $border-radius * 1.75;
    transition: border-radius 0.2s ease-in-out;
    cursor: pointer;
  }

  #element-name {
    font-size: 1.85em;
  }

  #element-symbol-inner h3 {
    font-family: robotolight;
    font-weight: regular;
    font-size: 2em;
  }

  #element-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin-left: 10px;
  }

  // Each statistic box thing
  #element-info ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 10px;
    padding: 2px 0px 2px 7px;
    border-radius: $border-radius / 2;
  }

  #element-info li p {
    font-family: robotolight;
    font-weight: regular;
    font-size: 1em;
  }

  #element-info li h4 {
    font-family: robotolight;
    font-weight: regular;
    font-size: 1.2em;
    margin-right: 10px;
  }

  .element-det-primary-info {
    overflow: visible;
    font-family: latobold;
    font-weight: regular;
    font-size: 1.7em;
  }

  .element-det-secondary-info {
    overflow: visible;
    font-family: latolight;
    font-weight: regular;
    font-size: 1.15em;
  }
}


// INFO SIDE
.info-side #element-info-panel {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 33.33%;
  margin: 0px 0px 0px 10px;
}

.info-side {
  #element-symbol {
    width: 100%;
    //padding-bottom: 100%;
    border-radius: $border-radius;
  }

  #element-symbol-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
  }

  #icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 65%;
    border-radius: $border-radius;
    font-family: robotomedium;
    font-weight: regular;
    font-size: 3.25em;
    transition: all $transition-time ease-in-out;
  }

  #icon:hover {
    border-radius: $border-radius * 1.75;
    transition: border-radius 0.2s ease-in-out;
    cursor: pointer;
  }

  #element-name {
    font-size: 1.85em;
  }

  #element-symbol-inner h3 {
    font-family: robotolight;
    font-weight: regular;
    font-size: 2em;
  }

  #element-info {
    display: flex;
  }

  // Each statistic box thing
  #element-info ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    padding: 2px 0px 2px 7px;
    border-radius: $border-radius / 2;
  }

  #element-info li p {
    font-family: robotolight;
    font-weight: regular;
    font-size: 1em;
  }

  #element-info li h4 {
    font-family: robotolight;
    font-weight: regular;
    font-size: 1.2em;
    margin-right: 10px;
  }

  .element-det-primary-info {
    overflow: visible;
    font-family: latobold;
    font-weight: regular;
    font-size: 1.7em;
  }

  .element-det-secondary-info {
    overflow: visible;
    font-family: latolight;
    font-weight: regular;
    font-size: 1.15em;
  }
}