// Main foot (there is only one foot)
#footer {
  display: flex;
  justify-content: center;
  padding: 2px 0;
  user-select: none;
}

// Text in foot
p, a {
  font-family: robotoregular, serif;
  font-size: 1rem;
  margin: 0 9px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  display: none;
}

#name-lg {
  display: inline;
}

// Show medium copyright notice (name 2) on browser starting from 410px
@media (max-width: 410px) {
  p#name1, p#name3 {
    display: none;
  }

  p#name2 {
    display: inline;
  }
}

// Show small copyright notice (name 3) on browser starting from 340px
@media (max-width: 340px) {
  p#name1, p#name2 {
    display: none;
  }

  p#name3 {
    display: inline;
  }
}
