// ALL FOOTER THEMES

// // LIGHT DEF \\ \\
#footer.light-def p, #footer.light-def a {
  color: $oc-gray-9;
}
#footer.light-def {
  background-color: white;
}


// // LIGHT CON \\ \\
#footer.light-con p, #footer.light-con a {
  color: $oc-gray-9;
}
#footer.light-con {
  background-color: $oc-gray-2;
}

// // DARK \\ \\
#footer.dark-def p, #footer.dark-def a {
  color: $oc-gray-1;
}
#footer.dark-def {
  background-color: $oc-gray-9;
}
