// Main footer
footer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 12px;
}

// Text in footer
footer > p, footer > a {
  font-family: robotoregular;
  color: $oc-gray-9;
  padding-left: 10px;
  padding-right: 10px;
}
