//main: main.scss

// The group and period labels (.dark is appearance on hover)
.light {
  background-color: $oc-gray-1;
  transition: background-color $transition-time ease-in-out;
}

.dark {
  background-color: $oc-gray-3;
  transition: background-color $transition-time ease-in-out;
}

// The text inside each element
.atomicMass {
  position: relative;
  bottom: -3px;
}

.atomicNumber, .abbreviation, .name, .atomicMass {
  transition: color $transition-time ease-in-out;
}

// REGULAR ELEMENT COLOR
.blue {
  background-color: $oc-blue-2;
}

.red {
  background-color: $oc-red-2;
}

.green {
  background-color: $oc-green-2;
}

.orange {
  background-color: $oc-orange-2;
}

.violet {
  background-color: $oc-violet-2;
}

// DARK ELEMENT COLOR
.dark-blue {
  background-color: $oc-blue-3;
}

.dark-red {
  background-color: $oc-red-3;
}

.dark-green {
  background-color: $oc-green-3;
}

.dark-orange {
  background-color: $oc-orange-3;
}

.dark-violet {
  background-color: $oc-violet-3;
}

// LIGHT ELEMENT COLOR
.light-blue {
  background-color: $oc-blue-1;
}

.light-blue p, .light-blue h6, .light-blue h5, .light-blue h4, .light-blue h3 {
  color: $oc-gray-6;
}

.light-red {
  background-color: $oc-red-1;
}

.light-red p, .light-red h6, .light-red h5, .light-red h4, .light-red h3 {
  color: $oc-gray-6;
}

.light-green {
  background-color: $oc-green-1;
}

.light-green p, .light-green h6, .light-green h5, .light-green h4, .light-green h3 {
  color: $oc-gray-6;
}

.light-orange {
  background-color: $oc-orange-1;
}

.light-orange p, .light-orange h6, .light-orange h5, .light-orange h4, .light-orange h3 {
  color: $oc-gray-6;
}

.light-violet {
  background-color: $oc-violet-1;
}

.light-violet p, .light-violet h6, .light-violet h5, .light-violet h4, .light-violet h3 {
  color: $oc-gray-6;
}
