$minimum-width: 1000px;
$maximum-width: 1000px;
$border-radius: 7.5px;
$transition-time: 0.15s;

* {
  margin: 0px;
  padding: 0px;
  color: $oc-gray-9;
  box-sizing: border-box;
  outline: 0px;
}

// ONLY FOR USE IN NAVIGATION / TITLE
h1 {
  font-family: robotoregular;
  font-size: 3em;
}

// h2 is the navigation bar
h2 {
  font-family: robotolight;
  font-weight: regular;
  font-size: 1.15em;
}

// GENERAL TEXT FORMATING
p {
  font-family: latolight;
  font-size: 1em;
}

a {
  font-family: latolight;
  font-size: 1em;
  text-decoration-line: underline;
}

a:clicked {
  text-decoration: underline;
}

// BLUR EFFECT
// Carefull, if too many elements have these tags, website could lag
.no-blur {
  //transition: filter 0.2s;
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  //transition: filter 0.2s;
}
.blur-large {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
  //transition: filter 0.2s;
}

// No blur transition, and less blur for smaller devices (less computing power)
@media (max-width: 1075px) {
  .no-blur {
    transition: filter 0s ease-in-out;
  }

  .blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    transition: filter 0s ease-in-out;
  }

  .blur-large {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
    transition: filter 0s;
  }
}

// NO HIGHLIGHT EFFECT ON SOME VUESAX ELEMENTS, AMONG OTHER ELEMENTS
.vs-noti-contenedor, .con-popup, .con-options, .activeItem {
  user-select: none;
}

// VUESAX
// Notification conts
.con-text-noti h3 {
  font-family: robotoregular;
  font-weight: regular;
}
.con-text-noti p {
  font-family: robotolight;
  font-weight: regular;
}
