// All icons have the "regular" class
.navIcon {
  width: 24px;
  height: 24px;

}

// All feather icons have the "featherIcon" class (don't know why I need to wite path, circle, line, etc)
.featherIcon, .featherIcon path, .featherIcon circle, .featherIcon line, .featherIcon polyline {
  stroke-width: 1.125;
  stroke: $oc-gray-9;
}

// All custom icons have the "customIcon" class
.customIcon {
}
