// // LIGHT DEF \\ \\
.light-def a {
  text-decoration-color: $oc-gray-2;
}

.light-def a:hover {
  text-decoration-color: $oc-gray-9;
}

// // LIGHT CON \\ \\
.light-def a {
  text-decoration-color: $oc-gray-4;
}

.light-def a:hover {
  text-decoration-color: $oc-gray-9;
}

// // DARK DEF \\ \\
.dark-def a {
  text-decoration-color: $oc-gray-8;
}

.dark-def a:hover {
  text-decoration-color: $oc-gray-1;
}
