$minimum-width: 1000px;
$maximum-width: 1000px;
$border-radius: 15px;
$transition-time: 0s;

@import "./open-color.scss";
@import "./fonts.scss";
@import "../assets/icons/themify-icons.css";

$mainBackground: $oc-gray-0;
$labelDark: $oc-gray-0;

@import "./navigation.scss";
@import "./footer.scss";
@import "./options.scss";
@import "./periodic-table.scss";
@import "./generic-elements.scss";



* {
  margin: 0px;
  padding: 0px;
  color: $oc-gray-9;
  box-sizing: border-box;
  outline: 0px;

}

h1 {
  font-family: robotoregular;
  font-size: 3em;
}

// h2 is the navigation bar
h2 {
  font-family: robotolight;
  font-size: 1.15em;
}

// h3 and h4 used for the element overview pannel
h3 {
  font-family: latoregular;
  font-size: 2.5em;
}

h4 {
  font-family: latolight;
  font-size: 1.75em;
}

// h5 and h6 used for individual small elements
// h5 is element.abbreviation
h5 {
  font-family: latoregular;
  font-size: 1.4em;
}

// h6 is element.atomicNumber, element.name, and element.atomicMass
h6 {
  font-family: latolight;
  font-size: 0.8em;
}

p, a {
  font-family: latolight;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:clicked {
  text-decoration: none;
}

// Shadow of the navigation bar
nav, #display-options, #grid-container {
  box-shadow: 3px 3px 5px $oc-gray-3;
}
