#nav-content-outer {
  background-color: $oc-gray-1;

  // If the navigation doesn't fit in the browser window, make sure user can at least scroll through all of the options
  overflow: auto;
}

#nav-content {
  display: inline-flex;
  justify-content: flex-start;
  box-sizing: content-box; // When calculating width of element, do not take into account of marigin-left
  margin-left: 0px;
  list-style-type: none;
  -webkit-user-select: none;
  user-select: none;  // No highlighting when trying to select
}

// Each list element in nav bar
#nav-content > li {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

// Each list element in nav bar hover
#nav-content > li:hover {
  background-color: $oc-gray-3;
  transition: background-color $transition-time ease-in-out;
  cursor: pointer;
}

// Each list element in nav bar active
#nav-content > li:active {
  background-color: $oc-gray-4;
  transition: background-color $transition-time ease-in-out;
}

#nav-content > li > h2 {
  padding-left: 10px;
}

#nav-content > li > span {
  font-size: 18px;
}

@media (max-width: 970px) {
  #nav-content > li {
    padding: 10px 15px 10px 15px;
  }
  #nav-content > li > h2 {
    padding-left: 10px;
    font-size: 1em;
  }

  #nav-content > li > span {
    font-size: 15px;
  }
}

@media (max-width: 815px) {
  #nav-content {
    display: inline-flex;
    //justify-content: flex-start; repeat
  flex-wrap: wrap;
  }
}

@media (max-width: 460px) {
  #nav-content {
    display: inline-flex;
    //justify-content: flex-start; repeat
    //flex-wrap: wrap;
    flex-direction: column;
  }

  #nav-content > li {
    align-items: center;
    //padding: 10px 20px 10px 20px;
    width: 100%;
  }

  #nav-content {
    width: 100%;
  }
}
