// ALL NAVIGATION THEMES

// LIGHT DEF
#nav.light-def {
  box-shadow: 2px 2px 3px $oc-gray-2;
  transition: all 0.2s ease-in-out;
}
#nav.light-def:hover {
  box-shadow: 2px 2px 4px $oc-gray-3;
  transition: all 0.2s ease-in-out;
}

$light-def-text: $oc-gray-7;
$light-def-background: white;
#nav.light-def ul {
  background-color: $light-def-background;
}

#nav.light-def li h2, #nav-mobile.light-def li h2 {
  color: $light-def-text;
}

// Works for non-custom icons
#nav.light-def li *, #nav-mobile.light-def li * {
  stroke: $light-def-text;
}

#nav.light-def .custom-icon svg, #nav-mobile.light-def .custom-icon svg {
  fill: $light-def-text;
  stroke: $light-def-text;
}

#nav.light-def .nav-selected {
  background-color: $oc-gray-0;
}

#nav.light-def #nav-right li:hover {
  background-color: $oc-gray-0;
}


// LIGHT CON (HIGH CONTRAST)
#nav.light-con {
  box-shadow: 2px 2px 3px $oc-gray-2;
  transition: all 0.2s ease-in-out;
}
#nav.light-con:hover {
  box-shadow: 2px 2px 4px $oc-gray-3;
  transition: all 0.2s ease-in-out;
}
$light-con-text: $oc-gray-9;
$light-con-background: $oc-gray-0;
#nav.light-con ul {
  background-color: $light-con-background;
}

#nav.light-con li h2, #nav-mobile.light-con li h2 {
  color: $light-con-text;
}

// Works for non-custom icons
#nav.dark-def li *, #nav-mobile.dark-def li * {
  stroke: $light-con-text;
}

#nav.dark-def .custom-icon svg, #nav-mobile.dark-def .custom-icon svg {
  fill: $light-con-text;
  stroke: $light-con-text;
}


// DARK DEF
#nav.night-def {
  //box-shadow: 2px 2px 3px $oc-gray-2;
  transition: all 0.2s ease-in-out;
}
#nav.night-def:hover {
  //box-shadow: 2px 2px 4px $oc-gray-3;
  transition: all 0.2s ease-in-out;
}
$dark-def-text: $oc-gray-1;
$dark-def-background: $oc-gray-8;
#nav.dark-def ul {
  background-color: $dark-def-background;
}

#nav.dark-def li h2, #nav-mobile.dark-def li h2 {
  color: $dark-def-text;
}

// Works for non-custom icons
#nav.dark-def li *, #nav-mobile.dark-def li * {
  stroke: $dark-def-text;
}

#nav.dark-def .custom-icon svg, #nav-mobile.dark-def .custom-icon svg {
  fill: $dark-def-text;
  stroke: $dark-def-text;
}

#nav.dark-def .nav-selected {
  background-color: $oc-gray-9;
}

#nav.dark-def #nav-right li:hover {
  background-color: $oc-gray-9;
}
