// MAIN NAVIGATION
#nav-content-outer {
  // If the navigation doesn't fit in the browser window, make sure user can at least scroll through all of the options
  overflow: auto;
  width: 100%;
  user-select: none;
}
#nav-content-outer.theme-light {
  background-color: white;
}
#nav-content-outer.theme-dark {
  background-color: black;
}

#nav-content {
  display: inline-flex;
  box-sizing: content-box; // When calculating width of element, do not take into account of marigin-left
  margin-left: 0px;
  list-style-type: none;
  width: 100%;
}

#nav-right {
  display: inline-flex;
}

// NAV ELEMENTS FOR MOBILE
// Show when pressing the hamburger menu
#nav-right-mobile {
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

// NAV ELEMENTS FOR MOBILE AND REGULAR WIDTH
// Contain an icon and text, so must be formated
#nav-content li, #nav-right-mobile li {
  display: flex;
  align-items: center;
  padding: 10px 17px 10px 17px;
  // If changing this make sure to update the JS (when clicking on nav element, it changes the bottom border radius to zero)
  border-radius: 3px;
}

#nav-content li:hover, #nav-right-mobile li:hover {
  //transition: background-color $transition-time ease-in-out;
  cursor: pointer;
}
#nav-content li.theme-light:hover, #nav-right-mobile li.theme-light:hover {
  background-color: $oc-gray-0;
}
#nav-content li.theme-dark:hover, #nav-right-mobile li.theme-dark:hover {
  background-color: $oc-gray-9;
}


// Each list element in nav bar active
#nav-content li:active, #nav-right-mobile li:active {
  transition: background-color $transition-time ease-in-out;
}
#nav-content li.theme-light:active, #nav-right-mobile li.theme-light:active {
  background-color: $oc-gray-1;
}
#nav-content li.theme-dark:active, #nav-right-mobile li.theme-dark:active {
  background-color: $oc-gray-8;
}

// FORMAT TEXT AND ICONS IN NAVBAR
#nav-content li h2, #nav-right-mobile li h2 {
  padding-left: 13px;
}
#nav-content li h2.theme-light, #nav-right-mobile li h2.theme-light {
  color: $oc-gray-9;
}
#nav-content li h2.theme-dark, #nav-right-mobile li h2.theme-dark {
  color: $oc-gray-0;
}

// Normal icon size
.navIcon {
  width: 24px;
  height: 24px;
}

// Mobile Menu (hamburger) does not show, until specific screen width (see @media requests)
#nav-content li#menu-mobile {
  display: none;
}


// When screen is small, decrease option sizes
@media (max-width: 1240px) {
  // Make padding smaller
  #nav-content li {
    padding: 10px 15px 10px 15px;
  }

  //Make text smaller
  #nav-content li h2 {
    padding-left: 10px;
    font-size: 1em;
  }

  .navIcon {
    width: 18px;
    height: 18px;
  }
}

// On really small size, show hamburger menu
@media (max-width: 1072px) {
  #nav-content {
    justify-content: space-between;
  }

  // Hide elements that are not info, question, and search
  #nav-content li#simple-main, #nav-content li#properties-main, #nav-content li#electrons-main, #nav-content li#orbitals-main, #nav-content li#isotopes-main, #nav-content li#explore-main, #nav-content li#quiz-main {
    display: none;
  }

  // Show the hamburger menu as inline-flex (hidden for all other display sizes)
  #nav-content li#menu-mobile {
    display: inline-flex;
  }
}

@media (max-width: 360px) {
  .navIcon {
    width: 16px;
    height: 16px;
  }

  #nav-content li {
    padding: 10px 10px 10px 10px;
  }
}

// POPUP MENUS AND OLD OPTIONS

// SETTINGS
.display-options {
}

.display-options ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.display-options li {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.display-options li p {
  font-family: robotolight;
  padding-bottom: 5px;
}

// INFORMATION
// Before settings icons in navbar
.nav-info ul {
  list-style-type: none;
}

.nav-info li {
  padding-bottom: 10px;
}
