#display-options {
  display: flex;
  background-color: $oc-gray-1;
  height: 35px;
  margin-top: 10px;
}

/*
#info:active {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  filter: blur(4px);
}
*/
