#display-options {
  display: flex;
  background-color: $mainBackground;
  height: 35px;
  margin-top: 10px;
}

#display-options ul {
  display: flex;
  align-items: center;
  height: 100%;
}

#display-options li {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

#display-options li p {
  padding-right: 8px;
}

// Descriptions of each option
p.option-text {
  font-family: robotolight;
}

div.option-theme {
  font-family: robotoregular;
}
