#display-options {
}

#display-options ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#display-options li {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

// Descriptions of each option
p.option-text {
  font-family: robotolight;
  padding-bottom: 5px;
}

div.option-theme {
  font-family: robotoregular;
}
