// PERIODIC TABLE THEMES
// // LIGHT DEF \\ \\
$light-def-shadow: rgba(233, 236, 239, 0.8);
#pt.light-def #grid-container {
  background-color: $oc-gray-0;
}

#pt.light-def .element-outer {
  box-shadow: 3px 3px 3px $light-def-shadow;
}

#pt.light-def .element-outer:hover {
  box-shadow: 5px 5px 5px $light-def-shadow;
}

#pt.light-def #element-overview {
  box-shadow: 4px 4px 4px $light-def-shadow;
}

#pt.light-def #element-desc {
  box-shadow: 4px 4px 4px $light-def-shadow;
}

#pt.light-def .label-period-inner p, .light-def .label-group-inner p {
  color: $oc-gray-9;
}

#pt.light-def #det {
  background-color: white;
}

#pt.light-def #det .uo-item, #pt.light-def #det .ud-item li {
  background-color: $oc-gray-1;
}

#pt.light-def p, #pt.light-def h3, #pt.light-def h4 {
  color: $oc-gray-9;
}

// // LIGHT CON \\ \\
#pt.light-con #grid-container {
  background-color: $oc-gray-1;
}

#pt.light-con .element-outer {
  box-shadow: 3px 3px 3px $oc-gray-4;
}

#pt.light-con .element-outer:hover {
  box-shadow: 5px 5px 5px $oc-gray-4;
}

#pt.light-con #element-overview {
  box-shadow: 4px 4px 4px $oc-gray-4;
}

#pt.light-con #element-desc {
  box-shadow: 4px 4px 4px $oc-gray-4;
}

#pt.light-con .label-period-inner p, .light-con .label-group-inner p {
  color: $oc-gray-9;
}

#pt.light-con #det {
  background-color: $oc-gray-1;
}

#pt.light-con #det .uo-item, #pt.light-con #det .ud-item li {
  background-color: $oc-gray-3;
}

#pt.light-con p, #pt.light-con h3, #pt.light-con h4 {
  color: $oc-gray-9;
}

// // DARK DEF \\ \\
#pt.dark-def #grid-container {
  background-color: $oc-gray-9;
}

#pt.dark-def .element-outer {
  box-shadow: 3px 3px 3px $oc-gray-7;
}

#pt.dark-def .element-outer:hover {
  box-shadow: 5px 5px 5px $oc-gray-7;
}

#pt.dark-def #element-overview {
  box-shadow: 4px 4px 4px $oc-gray-7;
}

#pt.dark-def #element-desc {
  box-shadow: 4px 4px 4px $oc-gray-7;
}

#pt.dark-def .label-period-inner p, .dark-def .label-group-inner p {
  color: $oc-gray-0;
}

#pt.dark-def #det {
  background-color: $oc-gray-9;
}

#pt.dark-def #det .uo-item, #pt.dark-def #det .ud-item li {
  background-color: $oc-gray-8;
}

#pt.dark-def p, #pt.dark-def h3, #pt.dark-def h4 {
  color: $oc-gray-0;
}
