// TODO: Make elementsThematomColors global rather than importing the elementsTheme.scss file, which is mixins and variables
@import "../periodic-table/elementsTheme";
.light-def {
  @include panelVisualThemeDefault(
    $ld-background,
    true,
    $ld-shadow,
    $ld-shadow-hover,
    $ld-text
  );
  @include elementsThemeAtomColors("", true, 2, 9);
}

.light-con {
  @include panelVisualThemeDefault(
    $lc-background,
    true,
    $lc-shadow,
    $lc-shadow-hover,
    $lc-text
  );
  @include elementsThemeAtomColors("", true, 4, 9);
}

.dark-def {
  @include panelVisualThemeDefault(
    $dd-background,
    false,
    $dd-shadow,
    $dd-shadow-hover,
    $dd-text
  );
  @include elementsThemeAtomColors("", true, 7, 1);
}

#visual-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  transition: createtransitions((box-shadow, background-color));

  --elementNameTextSize: 0;
}

#visual-inner:hover {
  transition: createtransitions((box-shadow, background-color));
}

#icon {
  position: relative;
  margin-top: 8px; // Don't think this should be $spacing
  height: 0;
  width: 75%;
  padding-bottom: 75%;
}

#icon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $border-radius;
  font-family: robotoregular, Arial, "sans-serif";
  font-weight: normal;
}

.panel-top #icon-inner {
  font-size: calc(20vw * 0.75 * 0.48);
}

.panel-side #icon-inner {
  font-size: calc(17vw * 0.75 * 0.48);
}

#text {
  font-family: robotoregular, Arial, "sans-serif";
  font-weight: normal;
  font-size: calc(20vw * 0.75 * 0.48 * 0.35);
}
