// Period Labels
.label-period-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 75%;
  border-radius: $border-radius;
  user-select: none;
}

.label-period-inner:hover {
  cursor: pointer;
}

.label-period-inner .label-text {
  font-size: 1.33em;
}


// Group Labels
.label-group-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 70%;
  width: 100%;
  border-radius: $border-radius;
  user-select: none;
}

.label-group-inner:hover {
  cursor: pointer;
}

.label-group-inner .label-text {
  font-size: 1.33em;
}

// Period and Group Labels
// Period (row) labels. On left side, and have height of 2 rows, width of one column (note the difference between a row and column)
@for $i from 2 through $total-rows {
  .rr-#{$i} {
    grid-row-start: #{$i};
    grid-row-end: #{$i + 2};
  }
}

// Group (column) labels. On top side, and have height of 1 row, width of 2 columns
@for $i from 2 through $total-columns {
  .cc-#{$i} {
    grid-column-start: #{$i};
    grid-column-end: #{$i + 2};
  }
}