// Add 5 to rows for the "f" block elements
$total-columns: (18 * 2);
$total-rows: (7 * 2) + 5;

#grid-container-outer {
  width: 100%;
  height: 100%;
  // min-height the same height as the periodic table (if we can't get the scrollbar to ONLY work on the periodic-table component, and not the whole page)
  border-radius: $border-radius;
  overflow: auto;
  transition: createTransitions((box-shadow, background-color));
}

#grid-container {
  position: relative;
  height: 0px;
  // IF YOU CHANGE WIDTH OR PADDING BOTTOM, CHANGE MIN-WIDTH AND MIN-HEIGHT UNDER #GRID
  width: 100%;
  padding-bottom: 60%;
  // border-radius: $border-radius;
  overflow: auto;
}

#grid-container:hover {
  transition: createTransitions((box-shadow, background-color));
}

#grid {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  // IF YOU CHANGE MIN-WIDTH OR MIN-HEIGHT, CHANGE PADDING-BOTTOM RATIO UNDER #GRID-CONTAINER
  min-width: 700px;
  min-height: 420px;

  display: grid;
  grid-template-columns: 2.8% repeat($total-columns, 1fr);
  grid-template-rows: 5% repeat($total-rows, 1fr);
  padding: 10px 10px 10px 10px;
}
