// Add 5 to rows for the "f" block elements
$total-columns: (18 * 2);
$total-rows: (7 * 2) + 5;

// The width and height of each element in the periodic table
$element-width: 100% / $total-columns;
$element-height: 40px;

// MAIN GRID STRUCTURE
#grid-container-outer {
  margin: 0px 10px 10px 10px;
}

#grid-container {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 63.5%;
  border-radius: $border-radius;
}

#grid {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: grid;
  grid-template-columns: 40px repeat($total-columns, 1fr);
  grid-template-rows: 40px repeat($total-rows, 1fr);
  padding: 10px 10px 10px 10px;
}