// Section unobtrusive information
.dark-def #element-info-panel #element-symbol-inner, .dark-def #det #element-info ul li {
  background-color: $oc-gray-8;
  //box-shadow: 2px 2px 3px $oc-gray-7;
  transition: all 0.2s ease-in-out;
}

.dark-def #det #element-symbol-inner:hover, .dark-def #det #element-info ul li:hover {
  //box-shadow: 2px 2px 4px $oc-gray-6;
  transition: all 0.2s ease-in-out;
}
//end
.dark-def #grid-container {
  background-color: $oc-gray-8;
}

//.dark-def .element {
//  box-shadow: 3px 3px 3px $oc-gray-7;
//}
//
//.dark-def .element:hover {
//  box-shadow: 5px 5px 5px $oc-gray-7;
//}

//.dark-def #element-overview {
//  box-shadow: 4px 4px 4px $oc-gray-7;
//}
//
//.dark-def #element-desc {
//  box-shadow: 4px 4px 4px $oc-gray-7;
//}

.dark-def .label-period-inner p, .dark-def .label-group-inner p {
  color: $oc-gray-0;
}

.dark-def #det {
  background-color: $oc-gray-9;
}

.dark-def p, .dark-def h3, .dark-def h4 {
  color: $oc-gray-0;
}
