// Section unobtrusive information
.light-def #det #element-symbol-inner, .light-def #det #element-info ul li {
  background-color: $oc-gray-0;
  box-shadow: 2px 2px 3px $oc-gray-2;
  transition: all 0.2s ease-in-out;
}

.light-def #det #element-symbol-inner:hover, .light-def #det #element-info ul li:hover {
  box-shadow: 2px 2px 4px $oc-gray-3;
  transition: all 0.2s ease-in-out;
}
// end
.light-def #grid-container {
  background-color: $oc-gray-0;
  box-shadow: 2px 2px 3px $oc-gray-2;
  transition: all 0.2s ease-in-out;
}

.light-def #grid-container:hover {
  box-shadow: 2px 2px 4px $oc-gray-3;
  transition: all 0.2s ease-in-out;
}

.light-def .element {
  box-shadow: 2px 2px 3px $oc-gray-3;
}

.light-def .element:hover {
  box-shadow: 2px 2px 4px $oc-gray-4;
}

.light-def #element-overview {
  box-shadow: 2px 2px 3px $oc-gray-3;
  transition: all 0.2s ease-in-out;
}

.light-def #element-overview:hover {
  box-shadow: 2px 2px 4px $oc-gray-4;
  transition: all 0.2s ease-in-out;
}

.light-def #element-desc {
  box-shadow: 2px 2px 3px $oc-gray-3;
  transition: all 0.2s ease-in-out;
}

.light-def #element-desc:hover {
  box-shadow: 2px 2px 4px $oc-gray-4;
  transition: all 0.2s ease-in-out;
}

.light-def .label-period-inner p, .light-def .label-group-inner p {
  color: $oc-gray-9;
}

.light-def #det {
  background-color: white;
}


.light-def p, .light-def h3, .light-def h4 {
  color: $oc-gray-9;
}
