@media (max-width: $small-laptop-width) {
  h2 {
    font-size: 12px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: $tablet-width) {
  li {
    padding: 3px 5px;
  }

  h2 {
    font-size: 10px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: $mobile-width) {
  #nav-content {
    display: flex;
    justify-content: space-between;
  }

  .inner {
    display: none;
  }

  #menu-mobile {
    display: flex;
  }
}

@media (max-width: $tiny-mobile-width) {
  li {
    padding: 7px 10px 7px 10px;
  }
}
