@media (max-width: 1200px) {
  .nav-item-body {
    padding: 10px 11px 10px 11px;
  }

  .heading {
    font-size: 1em;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1050px) {
  .nav-item-body {
    padding: 10px 9px 10px 9px;
  }

  .heading {
    font-size: 0.95em;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 940px) {
  #nav-content {
    display: flex;
    justify-content: space-between;
  }

  .text {
    display: none;
  }

  #menu-mobile {
    display: flex;
  }
}

@media (max-width: 350px) {
  .nav-item-body {
    padding: 7px 10px 7px 10px;
  }
}