// @param 1  $background  Background color of the nav
// @param 2  $hasShadow  Boolean for if there is a shadow, if so, shadow selectors are not created
// @param 2  $shadow  Shadow that appears below the nav (no hover)
// @param 3  $shadowHover  Shadow that appears below the nav (on hover)
// @param 4  $navItemHover  The background of each nav button on hover

// @param 5  $navItemClick  The background of each nav button on click (note, this uses CSS class :active, which is basically on click)
// @param 6  $navItemActive  The background of each nav button when selected, and page redirects according to the nav button that was pressed
// @param 7  $heading  The color of each heading text element
// @param 8  $icon  The color of all icons

// Note: There is no $navItem because the background of this will be the same
// as $background, or the background of the nav bar as a whole
@mixin navigationThemeDefault(
  $background,
  $hasShadow,
  $shadow,
  $shadowHover,
  $navItemHover,
  $navItemClick,
  $navItemActive,
  $heading,
  $icon
) {
  @include shadow(".router-link-inner", $hasShadow, $shadow, $shadowHover);
  @include shadow(".no-text", $hasShadow, $shadow, $shadowHover);

  // color of main nav bar
  .router-link-inner,
  .no-text {
    background-color: $background;
    transition: all $transition-duration ease-in-out;
  }

  .router-link-inner:hover,
  .no-text:hover {
    background-color: $navItemHover;
  }

  .router-link-inner:active,
  .no-text:hover {
    background-color: $navItemClick;
  }

  .router-link-active .router-link-inner {
    background-color: $navItemActive;
  }

  // color of of headings
  h2 {
    color: $heading;
  }

  .link {
    text-decoration: none;
  }

  // icons
  .custom-icon {
    color: $icon;
  }

  .feather-icon {
    // TODO: fix vue feather icon stroke thing
    // should be able to remove stroke if vue-feather-icons
    // updates to use latest version of Feather Icons
    stroke: $icon;
    color: $icon;
    stroke-width: 1.125;
  }
}
